<p id="notice"><%= notice %></p>

<h1>Tasks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Created by</th>
      <th>Assignee</th>
      <th>Status</th>
      <th>Assign amount</th>
      <th>Complete amount</th>
      <th colspan=<%= 3 + (current_account.employee? ? 1 : 0) %>></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.created_by_id %></td>
        <td><%= task.assignee_id %></td>
        <td><%= task.status %></td>
        <td><%= task.assign_amount %></td>
        <td><%= task.complete_amount %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% if current_account.employee? %>
          <td><%= link_to 'Done', done_task_path(task), method: :post %></td>
        <% end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>

<% if current_account.admin? || current_account.manager? %>
  <%= link_to 'Assign tasks', assign_all_tasks_path, method: :post %>
<% end %>
