<h1>New Task</h1>

<%= form_with(model: @task) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :assignee_id %>
    <%= form.text_field :assignee_id %>
  </div>

  <div class="field">
    <%= form.label :assign_amount %>
    <%= form.text_field :assign_amount %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Back', @tasks_path %>
